@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
  font-family: 'Roboto', sans-serif;
}

body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color:#111;
}

.app-body{
  padding:4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap:4rem;
  margin: auto;
  /* border: 1px solid #666; */
}

.searchbox{
  border: 1px solid #666;
  background-color: #00000054;
  border-radius:20px;
  padding:.3rem .1rem;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap:1rem;
  width:100%;
}

.searchbox input, .searchbox button{
  padding: .2rem 1rem;
  font-size:16px;
  background: transparent;
  border: none;
  color: #aaa;
  /* border: 1px solid #aaa; */
}

.searchbox input{
  outline: none;
}

.searchbox button *{
  font-size: 24px;
}

.imgs-box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content:center;
  /* border:1px solid #eee; */
  grid-gap:1rem;
}

.img-box{
  background-color:#191919;
  padding:1rem .7rem;
  border-radius:10px;
}

.img-box img{
  height:10rem;
  width:8rem;
}

#poster{
  text-align: center;
}

.title{
  color:#c3c3c3;
  margin:.5rem auto;
  font-weight: 500;
  font-size:14px;
}

.year{
  color:#aaa;
  font-size:13px;
}

@media only screen and (min-width:1000px){

  .app-body{
    width:80%;
    padding:3rem 2rem;
  }

  .searchbox{
    padding:.5rem;
    width:60%;
  }

  .searchbox input{
    font-size:18px;
  }

  .searchbox button *{
    font-size: 28px;
  }

  .imgs-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:1.5rem;
    /* width:80%; */
  }

  .img-box img{
    height:16rem;
    width:12rem;
  }
}






.loading-box h2{
  color:#ccc;
}

.imgs-box-null{
  width:100%;
}

.no-movies{
  text-align: center;
}

.no-movies h2{
  color:#aaa;
}